oriah/
literacy/
origami/*.png
ahva/
alternate/
bagrut/he/distributions
bagrut/he/tikz
construct/he/tikz
construct/en/tikz
construct/he/distributions
trigonometry/en/images
tikz-examples/tikz-examples-from-er.tex
unused/
origami/ggb/*.png
*.bat
*.zip
*~
*.aux
*.log
*.auxlock
*.bbl
*.blg
*.cot
*.synctex.gz
five-unit.docx
*.mp4
*.out
*.toc
*.sb3
*.ggb
