ahva/
bagrut/he/distributions
bagrut/he/tikz
construct/he/tikz
construct/en/tikz
construct/he/distributions
trigonometry/en/images
unused/
*.bat
*.zip
*~
*.aux
*.log
*.auxlock
*.bbl
*.blg
*.cot
*.synctex.gz
five-unit.docx
*.mp4
*.out
*.toc
*.sb3
*.ggb
